* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* TELA DE ENTRADA */

.welcome {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;
}

.logo-main {
  position: absolute;
  top: 150px;
}

.input {
  position: relative;
}

.input input {
  width: 261px;
  height: 54px;
  background: #ffffff;
  border: 1px solid #d7d7d7;
  border-radius: 9px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 25px;
}

.welcome h3 {
  color: red;
  margin-bottom: 5px;
}

.welcome ion-icon {
  font-size: 22px;
  color: red;
  position: absolute;
  top: 25%;
  right: 15px;
}

.welcome .input input::placeholder {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
}

.welcome button {
  width: 109px;
  height: 45px;
  background: #e7e7e7;
  border: none;
  border-radius: 9px;
  margin-top: 8px;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #696969;
}

.hidden {
  display: none;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 18px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

header ion-icon {
  font-size: 40px;
}
/* LOADING */

main div {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loading h2 {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.5);
}

.spinner {
  height: 50px;
  width: 50px;
  margin-top: 10px;
  border: 8px solid #ffffff;
  border-left-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.shake {
  animation: earthquake 0.5s;
  animation-iteration-count: 1;
}

@keyframes earthquake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
  60% {
    transform: translate(-2px, 2px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, 1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, -2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, 2px) rotate(-1deg);
  }
}

/* MAIN */
main {
  background-color: #f3f3f3;
  margin: 90px 0 100px 0;
  width: 100%;
  height: 75%;
  padding-top: 30px;
}

main article:first-child {
  margin-top: 15px;
}

article {
  height: 40px;
  display: flex;
  justify-content: initial;
  align-items: center;
  border-radius: 2px;
  margin-bottom: 10px;
}

article p span {
  font-weight: bold;
}

article p .time {
  font-weight: normal;
  color: #aaaaaa;
}

.status {
  background-color: #dcdcdc;
}

.message {
  background-color: #ffffff;
}

.private_message {
  background-color: #ffdede;
}

/* NAV */
.overlay {
  width: 30%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
}
nav {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #ffffff;
}

nav div {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.person {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 0 5px 0;
}

nav div h3 {
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.choices {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.person p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
}

.person span {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
}
.person ion-icon {
  font-size: 25px;
  flex-direction: row;
  position: relative;
  margin-right: 5px;
}

nav button {
  width: 60%;
  height: 35px;
  background-color: #e7e7e7;
  border: none;
  border-radius: 9px;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  position: relative;
  left: 20%;
}

nav button ion-icon {
  font-size: 25px;
}
/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

footer input {
  width: 100%;
  height: 80px;
  border: none;
  font-size: 18px;
  line-height: 25px;
}

footer ion-icon {
  font-size: 40px;
  position: absolute;
  bottom: 20px;
  right: 15px;
}
