* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* TELA DE ENTRADA */

.welcome {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo-main {
  position: absolute;
  top: 150px;
}

.welcome input {
  width: 261px;
  height: 54px;
  background: #ffffff;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  margin-bottom: 18px;
}

.welcome input::placeholder {
  text-align: center;
}

.welcome button {
  width: 109px;
  height: 45px;
  background: #e7e7e7;
  border-radius: 9px;
}

.hidden {
  display: none;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 18px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

header ion-icon {
  font-size: 40px;
}

/* MAIN */
main {
  background-color: #e5e5e5;
  margin-top: 115px;
  width: 100%;
  height: 100vh;
}

article {
  height: 40px;
  display: flex;
  justify-content: initial;
  align-items: center;
  border-radius: 2px;
  margin-bottom: 10px;
}

article p span {
  font-weight: bold;
}

article p .time {
  font-weight: normal;
  color: #aaaaaa;
}

.in-out-mensage {
  background: #dcdcdc;
  margin-bottom: 10px;
}

.private-mensage {
  background-color: #ffdede;
  margin-bottom: 10px;
}

/* NAV */
nav {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: red;
}

nav div {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.person {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 0 5px 0;
}

nav div h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin: 30px 0 25px 0;
  display: flex;
  align-items: center;
  text-align: center;
}

.person span {
  display: flex;
  width: 100px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
}
.person ion-icon {
  font-size: 25px;
  flex-direction: row;
  position: relative;
}
/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

footer input {
  width: 100%;
  height: 80px;
  border: none;
}

footer ion-icon {
  font-size: 40px;
  position: absolute;
  bottom: 20px;
  right: 15px;
}
